# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ksis_lab3.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Madi\source\repos\ksis_lab3\.idea\.idea.ksis_lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
